<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<h3 class="text-center"> About Krutika Latkar</h3><br>
		<div class="alert alert-primary" role="alert" style="margin:auto; width :40rem">
			<p class="text-center">
			<ul>
				<li>
					As a dedicated student of Business Information Technology at Seneca,
					with a background in Computer Engineering from Pune University, and professional experience
					as a QA Tester at Amodcs,
					I bring a unique blend of academic knowledge and practical expertise to the table.</li>
				<li>My educational journey has equipped me with a solid understanding of both the technical
					aspects of computer systems and the strategic application of technology in business
					settings.</li>
				<li>Through my role as a QA Tester, I honed my analytical skills and attention to detail,
					ensuring the quality and functionality of software products.</li>
				<li>I am passionate about leveraging technology to drive innovation and efficiency, <br />
					and I am committed to continuously learning and adapting to the ever-evolving landscape of
					IT and business.</li>
				<li>With a strong foundation in both theory and practice,
					I am poised to make meaningful contributions in the intersection of technology and business
					domains.<br /></li>
			</ul>
			</p>
		</div>


		<!-- End your code here  -->



	</main>
</div>