<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->


		<h1 class="text-center">Welcome!</h1>
		<div class="alert alert-primary" role="alert"; style="width: 40rem; margin:auto"><p>
			Welcome! I'm thrilled to have you join me as I delve into the principles and techniques of HTML5, while also
			exploring the intricacies of Routing in Express.<br>
			Take your time to explore and familiarize yourself with these topics.<br>
			Whether you're a seasoned developer or just starting out, there's always something new to learn.<br>
			If you have any questions or feedback along the way, feel free to reach out.<br>
			Enjoy your journey through the world of web development!
		</p></div>


		<br>
		<h3 class="text-center">Learning experience </h3>
		<div class="alert alert-primary" role="alert"; style="width: 40rem; margin:auto">	<p>
			As I journey through this course, I find myself immersed in a dynamic learning experience that continually
			challenges and expands my comprehension of HTML5 principles and Express routing techniques.<br>
			With each lesson, I uncover fresh insights and practical applications, enabling me to deepen my expertise
			and refine my proficiency in web development.<br>
			Along the way, I encounter diverse concepts and scenarios that ignite my curiosity, propelling me towards
			further exploration.<br>
			This educational voyage has proven both gratifying and enriching, equipping me with the confidence to
			navigate the complexities of modern web development with ease.<br>
			I eagerly anticipate applying these newfound skills to real-world projects and perpetuating my evolution as
			a developer.<br>
		</p></div><p>
		<hr>
		

		<!-- End your code here  -->



	</main>
</div>