<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<h3 class="text-center">Introduction to HTML5 </h3><br>
		<div class="alert alert-primary" role="alert"; style="width: 40rem; margin:auto">
			<p><ul>
			<li>This site harnesses the power of HTML5, a cornerstone tool for crafting and delivering content online.</li>
			Serving as the fundamental building blocks of the web, HTML5 empowers developers to structure and design
			websites seamlessly.</li>
			<li>Noteworthy features include intuitive tags, support for multimedia integration such as audio and video, a
			canvas for graphic creation, and offline functionality.</li>
			<li>Its widespread popularity stems from its compatibility across various devices and its capability to enhance
			website aesthetics.</li>
			<li>In essence, HTML5 represents the future landscape of web design and development.</li>
		</ul></p>
		</div>
		
		<!-- End your code here  -->



	</main>
</div>